html{
    font-size: 16px;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Descuento{
    position: sticky;
}

h1{
    background-color: #00669F;
    font-size: 2rem;
    text-align: left;
    padding: 1rem 0 1rem 2rem;
    color: white;
    box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.00);
}

h2{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    padding: 0%;
}

h3{
    
    background-color: #D1891C;
    font-size: 1rem;
    text-align: left;
    padding: 1rem 0 1rem 2rem;
}

p{
    color: #333;
    font-size: 0.93rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 10rem;
}

header{
    width: 100%;
    margin-bottom: 1rem;
    position: sticky;
    top: 0%;
    z-index: 20;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);

    
}
/* End of header */

/* Beginnig of body */
body{
    min-width: 387px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.bx{
    height: 3rem;
    width: 3rem;
    z-index: 10;
    position: fixed;
    top: 50vh;
    left: 80%;
    font-size: 3rem;
}
section{
    display: flex;
    flex-direction: column; 
    width: 300px;
    height: 560px;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    
    border-radius: 0.5rem;
    gap: 2%;
}

section .im{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    border-radius: 0.5rem 0.5rem 0rem 0;
    margin: 0% 0% 0rem 0%;
    padding: 0%;
}

#back{
    position: relative;
    align-self: flex-start;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0;
}

#face{
    position: relative; 
    width: 7rem;
    height: 7rem;
    align-self: center;
    bottom: 25%;
    border-radius: 50%;
 
}

#heart{
    z-index: 10;
    position: absolute;
    align-self: flex-start;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem 0.5rem;
}

section article{
    position: relative;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2.5%;
}

.button{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
  
}
button{
    background-color: #00669F;
    color: #F3F3F3;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1rem 2rem;
    margin: 0rem 0rem;

}
.container-harley{
    display: none;
}

.container-superman{
    display: none;
}

footer{
    width: 100%;
    display: flex;
    height: 4rem;
    background: #00669F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 20%;
    justify-content: center ;
    align-items: center;
}


footer img{
    position: absolute;
    right: 0.3rem;
    height: 1rem;
    width: 3.5rem;

}

footer h3{
    text-align: center;
    background-color:#00669F;
    color: #FFF9F9;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    
}

@media (min-width: 790px){
    /* End of header */
    
    /* Beginnig of body */
    main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 1rem 4rem;
        align-items: center;
        padding: 0%;
        
    }
    footer h3{
        text-align: center;
        background-color:#00669F;
        color: #FFF9F9;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        
    }
    footer img{
        position: absolute;
        right: 1rem;
        height: 1.25rem;
        width: 4rem;
    
    }
    .bx{
        left: 93%
    }
    .container-harley{
        display: flex;
    }
    .container-superman{
        display: flex;
    }
    .container-supermdc{
        display: none;
    }

}